#cinema {
    position: absolute;
    bottom: 0;
    top: 50px;
    left: 0;
    right: 0;
    background: #ebebeb;
    li {
        width: 100%;
        background: #dadada;
        list-style: none;
        .nameList {
            padding: 16px 14px;
            border-bottom: 1px solid #fff;
            color: #676262;
        }
        .box {
            width: 100%;
            background: #fff;
            padding: 16px 6%;
            box-sizing: border-box;
            border-bottom: 1px solid #d6d6d6;
            display: flex;
            flex-direction: column;
            a{
                text-decoration: none;
            .top {
                display: flex;
                flex-direction: row;
                h4 {
                    font-size: 16px;
                    width: 56%;
                    color: black;
                }
                .special {
                    width: 20%;
                    span {
                        border-radius: 50%;
                        font-size: 10px;
                        display: inline-block;
                        &:nth-child(1) {
                            color: #FC8556;
                            width: 20px;
                            height: 21px;
                            line-height: 21px;
                            text-align: center;
                            border: 1px solid #FC8556;
                        }
                        &:nth-child(2) {
                            color: #88aec8;
                            width: 20px;
                            line-height: 21px;
                            height: 21px;
                            text-align: center;
                            border: 1px solid #88aec8;
                        }
                    }
                }
                span {
                    width: 20%;
                    text-align: right;
                    font-size: 24px;
                    color: #ccc;
                }
            }
            h6 {
                color: #ccc;
                font-size: 12px;
                margin: 10px 0;
            }
            span {
                font-size: 12px;
                color: #ccc;
            }
        }
      }
    }
}